doctype html
html
    head
        style 
            include style.css

        title UEFA Nations League
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato&display=swap')
        link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
        link(rel="shortcut icon" href="#")
        nav
            a.headline(href='/', title='Home') UEFA NATIONS LEAGUE
            i.ball(i class="fa fa-futbol-o fa-2x" aria-hidden="true")
            ul
                li: a(href='/', title='Home') Home
                li: a(href='/schedule') Schedule
                li: a(href='/results') Results
                              
                if username
                    li: a(href='/private') User info
                    li: form(action="/logout", method="get")
                        input(type="submit", value="Logout")
                else
                    li: a(href='/sign-up', title='Sign up') Sign up 
                
    
    body
        form.addRes(action='/commentsSchedule', method='POST')
            h3.categories Add new or Edit existing result
            h3.categories League
            input(type='text', name='league')
            h3.categories National association
            input(type='text', name='nationalAssociation')
            h3.categories Group
            input(type='text', name='group')
            h3.categories Total points
            input(type='number', name='totalPoints')
            h3.categories Goal Difference
            input(type='number', name='goalDiff')
            
            input.addResult(type='submit', value='Add/Edit Result')

    